
@{
    ViewBag.Title = "ShowShows";
}

<head>
    <link rel="stylesheet" href="~/Content/Home.css" type="text/css" />
</head>
<body>
    <h2>Shows</h2>
    <div>
        <div>
            <form method="post" action="~/Show/Search">
                <br />
                Search:
                <input type="text" placeholder="Search" name="search_value" value=""/>
                <br />
                <br />

                &nbsp;
                <select name="priceFrom">
                    <option value="">Minimum price</option>
                    <option value="0">0</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                    <option value="5000">5000</option>
                    <option value="6000">6000</option>
                    <option value="7000">7000</option>
                    <option value="8000">8000</option>
                    <option value="9000">9000</option>
                    <option value="10000">10000</option>
                </select>
                &nbsp;
                <select name="priceTo">
                    <option value="">Maximum price</option>
                    <option value="0">0</option>
                    <option value="1000">1000</option>
                    <option value="2000">2000</option>
                    <option value="3000">3000</option>
                    <option value="4000">4000</option>
                    <option value="5000">5000</option>
                    <option value="6000">6000</option>
                    <option value="7000">7000</option>
                    <option value="8000">8000</option>
                    <option value="9000">9000</option>
                    <option value="10000">10000</option>
                </select>
                &nbsp; From: &nbsp; <input type="date" name="dateFrom" min="2020-09-23" max="2025-12-31" value="" />
                &nbsp; To: &nbsp;<input type="date" name="dateTo" min="2020-09-23" max="2025-12-31" value="" />
                &nbsp;<input type="submit" value="Search" />
            </form>
        </div>
        <br />
        <div>
            Sort search:
            <form method="post" action="~/Show/Sort">
                &nbsp; <select name="sortType">
                    <option value="ascending">Ascending</option>
                    <option value="descending">Descending</option>
                </select>
                &nbsp; <select name="sortBy">
                    <option value="name">Name</option>
                    <option value="dateITime">Date and Time</option>
                    <option value="price">Price</option>
                    <option value="location">Location</option>
                </select>
                &nbsp;<input type="submit" value="Sort" />
            </form>
        </div>
        <br />

        <div>
            Filter Search:
            <form method="post" action="~/Show/Filter">
                &nbsp;  <select name="type">
                    <option value="">Choose show type</option>
                    <option value="concert">Concert</option>
                    <option value="festival">Festivals</option>
                    <option value="theatre">Theatre</option>
                    <option value="cinema">Cinema</option>
                </select>
                &nbsp; <select name="availability">
                    <option value="">Choose availability </option>
                    <option value="available">Available</option>
                    <option value="unavailable">Unavailable</option>
                </select>
                &nbsp; <input type="submit" value="Filter" />
            </form>
        </div>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                <th>Duration</th>
                <th>Location</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Poster</th>
            </tr>
            @foreach (var s in ViewBag.shows)
            {
                <tr>
                    <td>
                        @s.Name <br />
                        <form action="~/Show/ShowShow" method="post">
                            <input type="hidden" name="ID" value="@s.Name" /><br />
                            <input type="submit" value="Show" />
                        </form>
                    </td>

                    <td>@s.Type</td>
                    <td>@s.Start</td>
                    <td>@s.Duration</td>
                    <td>@s.Address.City, @s.Address.Street, @s.Address.ZipCode</td>
                    <td>@s.Price</td>
                    <td>@s.CalculateRating()</td>


                    <td><img alt="Show poster" src="~/Content/@s.Picture" /></td>
                </tr>

            }
        </table>

    </div>
</body>


