@{
    ViewBag.Title = "LoggedInAdmin";
}
<head>
    <link rel="stylesheet" href="~/Content/Home.css">

</head>

<body>


    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("My profile", "MyProfile", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("Add Seller", "AddSeller", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("Show all users", "ShowUsers", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("Shows on hold", "ShowsOnHold", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("Show all bought tickets", "ShowTicketsView", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("All comments", "ShowComments", "Admin")
    </div>
    <br />
    <br />
    <div style="float:left;font-size:large;" class="link">
        @Html.ActionLink("Log Out", "Logout", "Admin")
    </div>
    <br />
    <br />
    <br />
    <br />

    
</body>